<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Článek - Zoumi.cz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/custom_css/blog-post.css" rel="stylesheet"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">ZOUMI.CZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Domů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Články
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4"><span th:text="${title}"/></h1>

            <!-- Author -->
            <p class="lead">
                Originál zdroj <a th:href="${url}" th:text="${url}"/>
            </p>

            <hr>

            <!-- Post Content -->
            <p class="lead">
                <span th:text="${anotation}"/>
            </p>

            <hr>
            <h2>Statistiky</h2>
            <p>Počet komentářů: <span th:text="${commentsCount}"/></p>
            <p>Počet podezřelých komentářů: <span th:text="${suspiciousCount}"/></p>

            <span th:each="commentText : ${suspComments}">
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="/images/glyphicons-4-user.png" alt=""/>
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${commentText.key.first.author}"></h5>
                        <p th:text="${commentText.key.first.commentText}"></p>
                    </div>

                    <img class="d-flex mr-3 rounded-circle" src="/images/glyphicons-4-user.png" alt=""/>
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${commentText.key.second.author}"></h5>
                        <p th:text="${commentText.key.second.commentText}"></p>
                    </div>
                    <strong>Podobnost textu:</strong> <span th:text="${commentText.value}"></span>%
                </div>
                <hr>
            </span>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; zoumi.cz 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
