<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Analýza diskuzí českých online portálů">
    <meta name="author" content="">

    <title>Článek - Zoumi.cz</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="/custom_css/blog-post.css" rel="stylesheet"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">ZOUMI.CZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Domů</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/articles">Články
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4"><span th:text="${article.title}"/></h1>
            <p class="lead small">
                <strong>Originální zdroj:</strong> <a th:href="${article.url}" th:text="${article.url}"/>
            </p>
            <hr>
            <p class="lead">
                <span th:text="${article.anotation}"/>
            </p>

            <hr>
            <h2>Statistiky</h2>
            <p>Počet komentářů: <span th:text="${article.commentCount}"/></p>
            <p>Počet podezřelých komentářů:
            <span th:switch="${suspiciousCount}">
                <span th:case="0"><span class="text-success" th:text="${suspiciousCount}"></span> <i class="fas fa-check-circle"></i></span>
                <span th:case="*"><span class="text-danger" th:text="${suspiciousCount}"></span> <i class="fas fa-exclamation-triangle"></i></span>
            </span>
            </p>

            <span th:each="commentText : ${suspComments}">
                <div class="media mb-4">
                    <div class="d-flex mr-2"><i class="fas fa-user-circle fa-2x"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${commentText.key.first.author}"></h5>
                        <p th:text="${#temporals.format(commentText.key.first.created, 'dd-MM-yyyy HH:mm')}" class="font-weight-light small"></p>
                        <p th:text="${commentText.key.first.commentText}"></p>
                    </div>

                    <div class="d-flex mr-2"><i class="fas fa-user-circle fa-2x"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${commentText.key.second.author}"></h5>
                        <p th:text="${#temporals.format(commentText.key.second.created, 'dd-MM-yyyy HH:mm')}" class="font-weight-light small"></p>
                        <p th:text="${commentText.key.second.commentText}"></p>
                    </div>
                    <strong>Podobnost textu:</strong><span th:text="${commentText.value}"> </span>%
                </div>
                <hr>
            </span>
        </div>
    </div>
</div>

<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; zoumi.cz 2018 | fol.pavel(at)gmail.com</p>
        <p class="m-0 text-center text-muted small">Disclaimer: Tato aplikace nezískává data k analýze přímo.
            Analýza je prováděna v rámci akademické (diplomové) práce a výsledky neslouží ke komerčnímu užití. </p>
        <p class="m-0 text-center text-muted small">Version:  <span th:text="${version}"></span></p>
    </div>
</footer>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script defer src="/fontawesome-all.js"></script>
</body>
</html>