<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Analýza diskuzí českých online portálů">
    <meta name="author" content="">
    <title>Články | Zoumi.cz</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="/custom_css/blog-post.css" rel="stylesheet"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">ZOUMI.CZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Domů</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/articles">Články
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="my-4">Články</h1>
          <span th:each="article : ${articles}">
            <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title" th:text="${article.title}"></h5>
              <a th:href="@{/article/{articleId}(articleId=${article.id})}"
                 class="btn btn-primary btn-sm">Zobrazit detail &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <div th:switch="${article.similarCommentCount}">
                <span class="small" th:case="0"><i class="fas fa-check-circle"></i> Neobsahuje podobné komentáře</span>
                <span class="small" th:case="*"><i class="fas fa-exclamation-triangle"></i> Některé komentáře jsou podobné</span>
              </div>
            </div>
            </div>
          </span>

          <div class="row">
            <div th:if="${articles.totalPages != 1}" class="form-group col-md-11 pagination-centered">
              <ul class="pagination">
                <li class="page-item" th:class="${articles.number == 0} ? disabled">
                  <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li class="page-item" th:class="${articles.number == 0} ? disabled">
                  <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=${articles.number})}">&larr;</a>
                </li>
                <li class="page-item" th:class="${articles.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                  <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=${page})}"
                     th:text="${page}"></a>
                </li>
                <li class="page-item" th:class="${articles.number + 1 == articles.totalPages} ? disabled">
                  <a class="page-link"
                     th:href="@{/articles/(pageSize=${selectedPageSize}, page=${articles.number + 2})}">&rarr;</a>
                </li>
                <li class="page-item" th:class="${articles.number + 1 == articles.totalPages} ? disabled">
                  <a class="page-link"
                     th:href="@{/articles/(pageSize=${selectedPageSize}, page=${articles.totalPages})}">&raquo;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Hledat</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" id="searchTextBox" class="form-control" placeholder="Zadej klíčové slovo..">
                <span class="input-group-btn">
                  <button id="searchButton" class="btn btn-secondary" type="button">Hledat</button>
                </span>
              </div>
            </div>
          </div>

          <div class="card my-4">
            <h5 class="card-header">Filtrovat</h5>
            <div class="card-body">
              <div class="row">
                <div class="form-group">
                  Řadit podle:
                  <select name="sortAttributeSelect" class="form-control" id="sortAttributeSelect">
                    <option th:each="sortAttribute : ${sortAttributes}" th:text="${sortAttribute.key}" th:value="${sortAttribute.value}"
                            th:selected="${sortAttribute.value} == ${selectedSortAttribute}"></option>
                  </select>
                  Směř řazení:
                  <select name="sortDirection" class="form-control" id="sortDirection">
                    <option th:each="sortDirection : ${sortDirections}" th:text="${sortDirection.key}" th:value="${sortDirection.value}"
                            th:selected="${sortDirection.value} == ${selectedSortDirection}"></option>
                  </select>
                  Záznamů na stránku: <select name="pageSizeSelect" class="form-control pagination" id="pageSizeSelect" title="Počet záznamů na stránku">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                  </select>
                  Zobrazit portál: <select name="portalSelect" class="form-control pagination" id="portalSelect" title="Portál k zobrazení">
                  <option th:each="portal : ${portalMap}" th:text="${portal.value}" th:value="${portal.key}"
                          th:selected="${portal.key} == ${selectedPortal}"></option>
                </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; zoumi.cz 2018 | fol.pavel(at)gmail.com</p>
        <p class="m-0 text-center text-muted small">Disclaimer: Tato aplikace nezískává data k analýze přímo.
          Analýza je prováděna v rámci akademické (diplomové) práce a výsledky neslouží ke komerčnímu užití. </p>
      </div>
    </footer>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/app.js"></script>
    <script defer src="/fontawesome-all.js"></script>
  </body>
</html>
