<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Analýza diskuzí českých online portálů">
    <meta name="author" content="">
    <title>Home | Zoumi.cz</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="/custom_css/one-page-wonder.css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">ZOUMI.cz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Domů
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Články</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Lžou mi? Ovlivňují ostaní?</h1>
            <h2 class="masthead-subheading mb-0">Analýza diskuzí českých online portálů</h2>
            <a href="#statsTop" class="btn btn-primary btn-xl rounded-pill mt-5">Statistiky</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<a id="statsTop"></a>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/images/balloon-2223048_960_720.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Cože, <span th:text="${commentCount}"></span>?!</h2>
                    <p>Přesně tak, s tolika komentáři pracuji a provádím nad nimi analýzu. To znamená provést přes
                        <strong><span th:text="${operationCount}"></span></strong> operací a to dá celkem zabrat, takže se aktualizuji v noci.
                            :-)</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 ">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/images/magnifying-glass-1083378_1280.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">No a co znamená <span th:text="${similarCommentCount}"></span>?</h2>
                    <p>Tak to je počet komentářů, které algoritmus označil jako podezřelé. To jsou ale i komentáře,
                        které jsou vloženy vícekrát případně je někdo okopíroval.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/images/light-bulb-2235770_1280.png" alt="">
                </div>
            </div>
            <div class="col-lg-6  order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Co těch <span th:text="${similarCommentBetweenCount}"></span>?</h2>
                    <p>Tak to už jsou opravdu podezřelé komentáře. Tady se podobnost pohybuje mezi <strong>60% a 90%</strong>.Jedná
                        se o texty, které jsou třeba trochu změněné. Můžou se sem však zamotat i komentáře, které někdo
                        citoval
                        a dodal k nim krátký text.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; zoumi.cz 2018 | fol.pavel(at)gmail.com</p>
        <p class="m-0 text-center text-muted small">Disclaimer: Tato aplikace nezískává data k analýze přímo.
            Analýza je prováděna v rámci akademické (diplomové) práce a výsledky neslouží ke komerčnímu užití. </p>
    </div>
</footer>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
